name: Tests
on: [push]
jobs:
  tests:
    name: ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: package deps
        run: |
          sudo apt-get install libsqlite3-dev
          python setup.py build_ext -i
      - name: runtests
        env:
          PYTHONPATH: '.:$PYTHONPATH'
        run: python test/
